
# Visual Studio Code temp
/*.vscode

# builded flash binaries
/as3/bin/*.swf

# compiled python bytecode
/python/*/*.pyc

# wot package
/build/*.wotmod
/build/*.zip

# sonar cloud
.scannerwork

# batch files
/*.cmd
